body{
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.form{
    width: 500px;
    height: 270px;
    background-color: white;
    border: 2px grey solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    text-align: center;
}
.up{
    margin-top: 15px;
}
.first{
    width: 150px;
    height: 20px;
}
.last{
    width: 200px;
    height: 20px;
}
.email{
    width: 360px;
    height: 20px;
    margin-top: 15px;
}
.password{
    width: 360px;
    height: 20px;
    margin-top: 15px;
}
p{
    color: grey;
}
a{
    text-decoration: none;
    color: black;
}

.join{
    width: 360px;
    height: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: gold;
    border: 2px solid rgba(184, 134, 11, 0.67);
    border-radius: 5px;
}